{include file="pub/head"}
    <!--banner-->
    <div id="carousel-example-generic" class="carousel carousel-fade">
        <div class="carousel-inner">
            <div class="item active">
                <img src="{:config('home_images')}banner.png" class="img-responsive" alt="" style="width: 100%;">
            </div>
        </div>
    </div>
    <!--/banner-->

    <div class="plan_com_con MB15">
        <div class="plan_com row txt_tab txt_tab_num1">
            <div class="col-md-12 col-sm-12 col-xs-12"><a href="javascript:;" class="cur">艾灸百科</a></div>
        </div>
    </div>

    <div class="heng_box">
        <div class="plan_com clearfix">
            <div class="container">
                <div class="c1_detail">
                    <div class="itemS PB10" data-sr="move 100px, over .8s,wait .2s, enter bottom">
                        <div class="div_question">
                            <div class="icon">问</div>
                            <div class="content">为什么艾灸一定要烟？</div>
                        </div>
                        <div class="div_answer">
                            <div class="icon">答</div>
                            <div class="content">
                                艾灸渐渐的走进人们的视线，其独特的疗效和中医传承得到大多数认可，并且融入人们的生活。 大家都非常认可艾灸，但是提到艾烟，大家都有些抵触甚至于担心艾烟会对
                                生危害... 　　
                            </div>
                        </div>
                    </div>
                    <div class="itemS PB10" data-sr="move 100px, over .8s,wait .2s, enter bottom">
                        <div class="div_question">
                            <div class="icon">问</div>
                            <div class="content">为什么艾灸一定要烟？</div>
                        </div>
                        <div class="div_answer">
                            <div class="icon">答</div>
                            <div class="content">
                                艾灸渐渐的走进人们的视线，其独特的疗效和中医传承得到大多数认可，并且融入人们的生活。 大家都非常认可艾灸，但是提到艾烟，大家都有些抵触甚至于担心艾烟会对
                                生危害... 　　
                            </div>
                        </div>
                    </div>
                    <div class="itemS PB10" data-sr="move 100px, over .8s,wait .2s, enter bottom">
                        <div class="div_question">
                            <div class="icon">问</div>
                            <div class="content">为什么艾灸一定要烟？</div>
                        </div>
                        <div class="div_answer">
                            <div class="icon">答</div>
                            <div class="content">
                                艾灸渐渐的走进人们的视线，其独特的疗效和中医传承得到大多数认可，并且融入人们的生活。 大家都非常认可艾灸，但是提到艾烟，大家都有些抵触甚至于担心艾烟会对
                                生危害... 　　
                            </div>
                        </div>
                    </div>
                    <div class="itemS PB10" data-sr="move 100px, over .8s,wait .2s, enter bottom">
                        <div class="div_question">
                            <div class="icon">问</div>
                            <div class="content">为什么艾灸一定要烟？</div>
                        </div>
                        <div class="div_answer">
                            <div class="icon">答</div>
                            <div class="content">
                                艾灸渐渐的走进人们的视线，其独特的疗效和中医传承得到大多数认可，并且融入人们的生活。 大家都非常认可艾灸，但是提到艾烟，大家都有些抵触甚至于担心艾烟会对
                                生危害... 　　
                            </div>
                        </div>
                    </div>
                    <div class="itemS PB10" data-sr="move 100px, over .8s,wait .2s, enter bottom">
                        <div class="div_question">
                            <div class="icon">问</div>
                            <div class="content">为什么艾灸一定要烟？</div>
                        </div>
                        <div class="div_answer">
                            <div class="icon">答</div>
                            <div class="content">
                                艾灸渐渐的走进人们的视线，其独特的疗效和中医传承得到大多数认可，并且融入人们的生活。 大家都非常认可艾灸，但是提到艾烟，大家都有些抵触甚至于担心艾烟会对
                                生危害... 　　
                            </div>
                        </div>
                    </div>
                    <div class="itemS PB10" data-sr="move 100px, over .8s,wait .2s, enter bottom">
                        <div class="div_question">
                            <div class="icon">问</div>
                            <div class="content">为什么艾灸一定要烟？</div>
                        </div>
                        <div class="div_answer">
                            <div class="icon">答</div>
                            <div class="content">
                                艾灸渐渐的走进人们的视线，其独特的疗效和中医传承得到大多数认可，并且融入人们的生活。 大家都非常认可艾灸，但是提到艾烟，大家都有些抵触甚至于担心艾烟会对
                                生危害... 　　
                            </div>
                        </div>
                    </div>
                    <div class="itemS PB10" data-sr="move 100px, over .8s,wait .2s, enter bottom">
                        <div class="div_question">
                            <div class="icon">问</div>
                            <div class="content">为什么艾灸一定要烟？</div>
                        </div>
                        <div class="div_answer">
                            <div class="icon">答</div>
                            <div class="content">
                                艾灸渐渐的走进人们的视线，其独特的疗效和中医传承得到大多数认可，并且融入人们的生活。 大家都非常认可艾灸，但是提到艾烟，大家都有些抵触甚至于担心艾烟会对
                                生危害... 　　
                            </div>
                        </div>
                    </div>
                    <div class="itemS PB10" data-sr="move 100px, over .8s,wait .2s, enter bottom">
                        <div class="div_question">
                            <div class="icon">问</div>
                            <div class="content">为什么艾灸一定要烟？</div>
                        </div>
                        <div class="div_answer">
                            <div class="icon">答</div>
                            <div class="content">
                                艾灸渐渐的走进人们的视线，其独特的疗效和中医传承得到大多数认可，并且融入人们的生活。 大家都非常认可艾灸，但是提到艾烟，大家都有些抵触甚至于担心艾烟会对
                                生危害... 　　
                            </div>
                        </div>
                    </div>
                    <div class="itemS PB10" data-sr="move 100px, over .8s,wait .2s, enter bottom">
                        <div class="div_question">
                            <div class="icon">问</div>
                            <div class="content">为什么艾灸一定要烟？</div>
                        </div>
                        <div class="div_answer">
                            <div class="icon">答</div>
                            <div class="content">
                                艾灸渐渐的走进人们的视线，其独特的疗效和中医传承得到大多数认可，并且融入人们的生活。 大家都非常认可艾灸，但是提到艾烟，大家都有些抵触甚至于担心艾烟会对
                                生危害... 　　
                            </div>
                        </div>
                    </div>
                    <div class="itemS PB10" data-sr="move 100px, over .8s,wait .2s, enter bottom">
                        <div class="div_question">
                            <div class="icon">问</div>
                            <div class="content">为什么艾灸一定要烟？</div>
                        </div>
                        <div class="div_answer">
                            <div class="icon">答</div>
                            <div class="content">
                                艾灸渐渐的走进人们的视线，其独特的疗效和中医传承得到大多数认可，并且融入人们的生活。 大家都非常认可艾灸，但是提到艾烟，大家都有些抵触甚至于担心艾烟会对
                                生危害... 　　
                            </div>
                        </div>
                    </div>

                    <!--分页开始-->
                    <div class="pager ue-clear">
                        <div class="pagin-list pc col-md-12 col-sm-12 col-xs-12">
                            <span class="current prev">上一页</span>
                            <span class="current">1</span>
                            <a href="javascript:;">2</a>
                            <a href="javascript:;">3</a>
                            <a href="javascript:;">4</a>
                            <a href="javascript:;" class="next">下一页</a>
                        </div>
                        <div class="mobile">
                            <a href="#">查看更多</a>
                        </div>
                    </div>
                    <!--/分页结束-->
                </div>
            </div>
        </div>
    </div>

{include file="pub/foot"}