<!--脚部开始-->
<div class="footer">
    <div class="footer_com clearfix">
        <div class="col-md-12 col-sm-12 col-xs-12 PB10 hidden-xs">
            <a href="#">首页</a><span>|</span>
            <a href="#">企业介绍</a><span>|</span>
            <a href="#">品牌店面</a><span>|</span>
            <a href="#">资讯中心</a><span>|</span>
            <a href="#">艾灸百科</a><span>|</span>
            <a href="#">效果实例</a>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 PB10 pub_list_bd hidden-xs">
            <p class="p">
                电话:<a href="tel:010-25635698">010-25635698</a>
            </p>
            <p class="p">
                手机:<a href="tel:13800138000">15965236589</a>
            </p>
            <p class="p">
                邮箱:<a href="mailto:83973923872@qq.com">83973923872@qq.com</a>
            </p>
            <p class="p">
                地址：北京市艾科有限责任公司
            </p>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            Copyright © 2008-2018 大泽仁艾养生馆. All rights reserved  xCP备16062663号-1 号
        </div>

    </div>
</div>
<div id="tool">
    <ul class="toollist toollist_gray">
        <li>
            <a href="/">
                <img src="{:config('home_images')}f_home.png" alt="">
                <p>
                    首页
                </p>
            </a>
        </li>
        <li>
            <a href="tel:152-1013-3807">
                <img src="{:config('home_images')}f_tel.png" alt=""><p>
                一键拨号
            </p>
            </a>
        </li>
        <li>
            <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=2557305457&amp;site=qq&amp;menu=yes">
                <img src="{:config('home_images')}f_qqs.png" alt=""><p>
                QQ咨询
            </p>
            </a>
        </li>
        <li>
            <a href="sms:15210133807">
                <img src="{:config('home_images')}f_message.png" alt=""><p>
                发送短信
            </p>
            </a>
        </li>
    </ul>
</div>
<!--脚部结束-->
<!--页面动画js代码 开始-->
<script>
    window.sr = new scrollReveal({
        //reset: true,
        move: '200px',
        mobile: true
    });
</script>
<!--/页面动画js代码 结束-->

</body>
</html>
