@charset "utf-8";



/* Basic CSS starts */



*{

	font-family: Microsoft YaHei,Helvetica,Arial,sans-serif;

	white-space: normal;

	padding:0px;

	margin:0px;

}

body

{

    font-size:14px;

}

body.body_bg

{

    background:url('../images/body_bg.png');

    background-position: center center;

    /*background-attachment: fixed;*/

}

h1,h2,h3,h4,h5,h6{

	font-weight: bold;

}

ul, li {

    list-style: none;

}

p{

	margin:0;

	padding:0;

}



a,a:hover,a:active,a:focus{

	 text-decoration:none;

}



a:hover{



}



a:hover,a:active,a:focus {

	outline: 0;

}



hr{

	margin: 0;

	border-top: 1px solid #fff;

	border-bottom: 1px solid #dbd8d8;

}



:focus {

	outline:none;

}



::-moz-focus-inner {

	border:0;

}

.clearfix {

    _zoom: 1;

}

.font12{

    font-size:12px;

}

.font14{

    font-size:14px;

}

.font16{

    font-size:16px;

}

.font18{

    font-size:18px;

}

.font20{

    font-size:20px;

}

.center{

    text-align:center;

}

.font-weight{

    font-weight:bold;

}

.no_weight{

    font-weight:500;

}

.colorred{

    color:#E50014;

}

.color000{

    color:#000000;

}

.color333{

    color:#333333;

}

.color666{

    color:#666666;

}

.color999{

    color:#999999;

}

.P0{

    padding:0px;

}

.PT0{

    padding-top:0px;

}

.PB0{

    padding-bottom:0px;

}

.P1{

    padding:1px;

}

.P2{

    padding:2px;

}

.P5{

    padding:5px;

}

.P10{

    padding:10px;

}

.P15{

    padding:15px;

}

.PT5{

    padding-top:5px;

}

.PT10{

    padding-top:10px;

}

.PT15{

    padding-top:15px;

}

.PT20{

    padding-top:20px;

}

.PT30{

    padding-top:30px;

}

.PB5{

    padding-bottom:5px;

}

.PB10{

    padding-bottom:10px;

}

.PB15{

    padding-bottom:15px;

}

.PB20{

    padding-bottom:20px;

}

.PTB5{

    padding:5px 0px;

}

.PTB10{

    padding:10px 0px;

}

.PTB15{

    padding:15px 0px;

}

.PTB20{

    padding:20px 0px;

}

.PTB25{

    padding:25px 0px;

}

.PTB30{

    padding:30px 0px;

}

.PTB35{

    padding:35px 0px;

}

.PTB40{

    padding:40px 0px;

}

.MT30{

    margin-top:30px;

}

.MB10{

    margin-bottom:10px;

}

.MB15{

    margin-bottom:15px;

}

.MB20{

    margin-bottom:20px;

}

.MB30{

    margin-bottom:30px;

}

.btn {

    display: inline-block;

    height: 45px;

    padding: 0 20px;

    line-height: 45px;

    -webkit-border-radius:50px;

    -moz-border-radius:50px;

    -ms-border-radius:50px;

    -o-border-radius:50px;

    border-radius:50px;

}

.btn.btn-solid {

    background: #E50014;

    color: #ffffff;

}

.btn.btn-solid:hover {

    background: #D20010;

}

/***********************************header************************************/

.header{

    background:#FDFAF6;

}

.header .header_topbg{

    width:100%;

    background:url('../images/top_bg.png');

    height:22px;

}

.container-navbar{

    max-width: 1000px;

    margin: 0 auto;

}

.navbar-default {

    background-color: #FDFAF6;

    height:78px;

    position: relative;

    margin-bottom:0px;

    border-bottom:5px solid #704D33;

}

.navbar-default .navbar-brand {

    padding:0px;

    padding-top: 15px;

    padding-right: 16px;

}

.navbar-default .navbar-nav {

    width:100%;

}

.navbar-default .navbar-nav > li {

    width:16.6666666666%;

    text-align:center;

}

.navbar-default .navbar-nav > li > a {

    font-size:14px;

    color:#704D33;

    width:100%;

    font-weight:bold;

    padding-top:17.5px;

}

.navbar-default .navbar-nav > li > a > span {

    display:block;

}

.navbar-default .navbar-nav > li > a > span.en {

    font-size:10px;

}

.navbar-default .navbar-nav > .cur > a, .navbar-default .navbar-nav > .cur > a:focus, .navbar-default .navbar-nav > .cur > a:hover {

    color:#FFFFFF;

    background-color:#704D33;

    border-color:#704D33;

}

.navbar-default .navbar-nav > li > a:hover,.navbar-default .navbar-nav > .cur > a,.navbar-default .navbar-nav > li:hover > a{

    color: #FFFFFF;

    background-color:#704D33;

    border-color:#704D33;

    background-position:center top;

}

.navbar-default .navbar-nav > li > a > .slicknav_arrow{

    font-size:14px;

    padding-left:3px;

    vertical-align:top;

}

.navbar-default .navbar-nav > li{

    position:relative;

    background:#FDFAF6;

}



/***********************************Slider************************************/

 .callbacks_container{

     position:relative;

 }

#slider3,#slider4 {

  box-shadow: none;

  -moz-box-shadow: none;

  -webkit-box-shadow: none;

  margin: 0 auto;

}

.rslides_tabs {

  list-style: none;

  padding: 0;

  background: rgba(0,0,0,.25);

  box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);

  -moz-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);

  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);

  font-size: 18px;

  list-style: none;

  margin: 0 auto 50px;

  max-width: 540px;

  padding: 10px 0;

  text-align: center;

  width: 100%;

}

.rslides_tabs li {

  display: inline;

  float: none;

  margin-right: 1px;

}

.rslides_tabs a {

  width: auto;

  line-height: 20px;

  padding: 9px 20px;

  height: auto;

  background: transparent;

  display: inline;

}

.rslides_tabs li:first-child {

  margin-left: 0;

}

.rslides_tabs .rslides_here a {

  background: rgba(255,255,255,.1);

  color: #fff;

  font-weight: bold;

}

.events {

  list-style: none;

}

.callbacks {

  position: relative;

  list-style: none;

  overflow: hidden;

  width: 100%;

  padding: 0;

  margin: 0;

}

.callbacks li {

  position: absolute;

  width: 100%;

  left: 0;

  top: 0;

}

.callbacks img {

  position: relative;

  z-index: 1;

  height: auto;

  border: 0;

}

.callbacks_nav.prev {

    position: absolute;

    left: 10px;

    top: 50%;

    margin-top: -15px;

    width: 25px;

    height: 39px;

    z-index: 10;

    cursor: pointer;

    text-indent: -9999px;

    background: transparent url("../images/icons.png") no-repeat;

    background-position: 0 0;

}

.callbacks_nav:active {

  opacity: 1.0;

}

.callbacks_nav.next {

    position: absolute;

    right: 10px;

    top: 50%;

    margin-top: -15px;

    width: 25px;

    height: 39px;

    z-index: 10;

    cursor: pointer;

    text-indent: -9999px;

    background: transparent url("../images/icons.png") no-repeat;

    background-position: -25px 0;

}

.callbacks_tabs a{

 visibility: hidden;

}

.callbacks_tabs a:after {

    content: "\f111";

    font-size: 0;

    font-family: FontAwesome;

    visibility: visible;

    display: block;

    height: 9px;

    border-radius: 18px;

    width: 25px;

    display: inline-block;

    background: #fff;

	border:1px solid #fff;

}

.callbacks_here a:after{

	background: #6F4D31;

    border-color:#6F4D31;

}

.callbacks_tabs {

    list-style: none;

    position: absolute;

    bottom: 20px;

    z-index: 111;

    left: 0;

    padding: 0;

    margin: 0;

    width:100%;

    text-align:center;

}

.callbacks_tabs li{

	display:inline-block;

}





/***********************************index************************************/

.maxwidth-1000{

    max-width:1000px;

    margin:0 auto;

}

.container {

    max-width:1000px;

}

.div-banner{

    width:100%;

    min-height:84px;

    overflow-y:auto;

    padding-top:10px;

    background:#FFF;

    margin-top:18px;

    margin-bottom:18px;

}

.div-banner img{

    width:200px;

    height:64px;

    cursor:pointer;

}



.div-banner .banner-item{

    background:#fff;

    text-align:center;

    padding-bottom: 10px;

}

.div-user{

    width:100%;

    min-height:152px;

    overflow-y:auto;

}

.div-user .user-item{

    cursor:pointer;

    border:2px solid #FFF;

    background:#fff;

    text-align: center;

}

.div-user .user-item .title{

    font-size:16px;

    text-align:center;

    padding-top:5px;

    padding-bottom:15px;

}

.div-user .user-item.cur{

    border-color:#31BDDE;

}

.div-application-pc{

    width:100%;

    min-height:300px;

    background:#FFF;

    overflow-y:auto;

    margin-top: 20px;

}

.div-title{

    width:100%;

    text-align:center;

    padding-top:30px;

    font-size:14px;

}

.div-title span{

  color:#31BDDE;

}

.path-item {

    height: 127px;

    padding: 15px;

    position: relative;

}



.path-item .path-img {

    text-align: left;

    padding: 0;

}

.path-item .path-img img {

    width: 85px;

    height: 85px;

}

.path-item .path-name {

    color: #565656;

    font-size: 16px;

    padding-top: 6px;

    white-space: nowrap;

    word-wrap: normal;

    word-break: normal;

    text-overflow: ellipsis;

    -o-text-overflow: ellipsis;

    overflow: hidden;

    padding-left: 5px;

}

.path-item .path-course-mark {

    color: #9b9da2;

    font-size: 14px;

    padding-top: 5px;

    white-space: nowrap;

    word-wrap: normal;

    word-break: normal;

    text-overflow: ellipsis;

    -o-text-overflow: ellipsis;

    overflow: hidden;

    padding-left: 5px;

}

.path-item .path-course-desc {

    color: #F74A4A;

    font-size: 12px;

    padding-top: 5px;

    padding-left: 5px;

}

.path-item .desc-layer {

    position: absolute;

    top: 0;

    left: 0;

    right: 0;

    bottom: 0;

    background: #31BDDE;

    padding: 15px 20px;

    cursor:pointer;

    display:none;

}

.path-item .desc-layer .center {

    height:100%;

    color: #fff;

    font-size: 14px;

    line-height: 20px;

    text-align:center;

    overflow: hidden;

    text-overflow: ellipsis;

    display: -webkit-box;

    -webkit-box-orient: vertical;

    -webkit-line-clamp: 3;

}

.path-item .desc-layer .center h4{

    font-size: 14px;

}

.path-item .desc-layer .center  p{

   padding-bottom:15px;

}

.path-item .desc-layer .center  span{

    border:1px solid #fff;

    padding:5px 25px;

}

.path-item:hover .desc-layer,.path-item.cur .desc-layer{

    display:block;

}

.div-application-pc-title{

    width:97%;

    height:50px;

    margin:0 auto;

    position:relative;

    border-bottom:1px solid #EEEEEE;

    margin-bottom:20px;

}

.div-application-pc-title span{

  position:absolute;

  top:8px;

  padding:10px 10px;

  border-bottom:2px solid #31BDDE;

}

.colored-line {

    display:inline-block;

    width: 40px;

    height: 2px;

    background: #E50014;

    margin: 10px 0 10px;

}

.featured-article-wrapper .info-block .title {

    line-height:25px;

}

.featured-article-wrapper .info-block p.highlight {

    line-height:25px;

}

.heng_box {

    background: url(../images/home_plan_bg.png);

    background-repeat: repeat;

    background-position-x: 0%;

    background-position-y: 0%;

    background-size: auto auto;

    background-size: 100% 100%;

    background-position: center;

    background-repeat: no-repeat;

    padding: 2% 0px 2%;

}

.heng_box .plan_com {

    max-width: 1000px;

    margin: auto;

}

.heng_box .plan_com .c1_list .item{

    background:#FFFFFF;

    opacity:0.9;

    padding:30px;

    text-align:center;

    font-size:16px;

    margin:15px 20px;

}

.heng_box .plan_com .c1_list .item .c1_img{

    min-height:80px;

    overflow:hidden;

}

.heng_box .plan_com .c1_list .item .c1_img img{

    display:inline-block;

}

.heng_box .plan_com .c1_list .item .c1_titleText{

    padding:20px 0px;

}

.heng_box .plan_com .c1_list .item .c1_btn a{

    display:inline-block;

    width:80px;

    height:25px;

    line-height:25px;

    text-align:center;

    color:#FFF;

    font-size:12px;

    background:#E50014;

    -webkit-border-radius:3px;

    -moz-border-radius:3px;

    -ms-border-radius:3px;

    -o-border-radius:3px;

    border-radius:3px;

    border:1px solid #CE0010;

}

.heng_box .plan_com .c1_list .item:hover{

    opacity:1;

}

.heng_box .plan_com .c1_list .item:hover a{

   background:#FFFFFF;

   color:#CE0010;

}

.heng_box .plan_com .c1_list .item_A .c1_img{

    min-height: 35px;

    overflow: hidden;

    background:none;

}

.heng_box .plan_com .c1_list .item_A .c1_titleText {

    padding: 5px 0px;

    color:#626262;

    font-size:16px;

}

.heng_box .plan_com .c1_list .item_A .c1_desc {

    color:#626262;

    font-size:14px;

}

.heng_box  .more_plan a{

    color: #FBE9A9;

    display: inline-block;

    width: 80px;

    height: 25px;

    line-height: 25px;

    text-align: center;

    color: #FFF;

    font-size: 12px;

    background: #7A5A43;

    border: 1px solid #7A5A43;

    -webkit-border-radius: 50px;

    -moz-border-radius: 50px;

    -o-border-radius: 50px;

    -ms-border-radius: 50px;

}

.heng_box  .more_plan a:hover{

    opacity:0.8;

}

.heng_box .btn_tab{

    max-width:355px;

    margin:0 auto;

    margin-bottom:30px;

}

.heng_box .btn_tab a {

    display: inline-block;

    width: 100%;

    height: 30px;

    line-height: 30px;

    text-align: center;

    font-size: 14px;

    color: #704D33;

    -webkit-border-radius: 3px;

    -moz-border-radius: 3px;

    -ms-border-radius: 3px;

    -o-border-radius: 3px;

    border-radius: 3px;

}

.heng_box .btn_tab a:hover,.heng_box .btn_tab a.cur {

   color:#FFFFFF;

   background:#704D33;

}

.heng_box .div_msg{

    color:#704D33;

    background:#FEF4D2;

    border:2px dashed #704D33;

    padding:15px 20px;

    line-height:25px;

}

.heng_box_1{

    background: url(../images/home_bg.png);

}

.heng_box_1 .plan_com .c1_list .item{

    background:none;

    font-size:14px;

    margin:15px 0px;

    display:block;

    padding: 0px;

    overflow:hidden;

    position:relative;

}

.heng_box_1 .plan_com .c1_list .item .c1_titleText{

    width:100%;

    background-color:rgba(122,90,67,0.9);

    color:#FFF;

    padding:6px 15px;

    position:absolute;

    left:0px;

    bottom:0px;

}

.heng_box_1 .plan_com .c1_list .item .c1_titleText_2{

   overflow: hidden;
   padding: 0px 15px;
   height: 30px;
   line-height: 30px;

}

.heng_box_1 .plan_com .c1_list .item .c1_img img{

    width:100%;

    -webkit-transform: scale(1);

    -moz-transform: scale(1);

    -o-transform: scale(1);

    -webkit-transition-duration: 0.5s;

    -moz-transition-duration: 0.5s;

    -o-transition-duration: 0.5s;

}

.heng_box_1 .plan_com .c1_list .item .c1_img img:hover{

    -webkit-transform: scale(1.1);

    -moz-transform: scale(1.1);

    -o-transform: scale(1.1);

}

.heng_box_2{

    background: none;

}

.heng_box_2 .plan_com .c1_list .heng_box_2{

    padding:5px;

}

.heng_box_2 .plan_com .c1_list .item{

    background:none;

    font-size:16px;

    margin:0px;

    display:block;

    overflow:hidden;

    padding: 0px;

    font-size:14px;

    color:#333333;

}

.heng_box_2 .plan_com .c1_list .item .c1_titleText{

    width:100%;

    padding: 11px 10px 0px 10px;

}

.heng_box_2 .plan_com .c1_list .item{

    padding:10px;

    background:#FEF4D2;

}

.heng_box_2 .plan_com .c1_list .item:hover{

    background:none;

}

.heng_box_2 .plan_com .c1_list .item_1{

    background:none;

    padding:5px;

}

.heng_box_2 .plan_com .c1_list .item .c1_img img{

    width:100%;

    -webkit-transform: scale(1);

    -moz-transform: scale(1);

    -o-transform: scale(1);

    -webkit-transition-duration: 0.5s;

    -moz-transition-duration: 0.5s;

    -o-transition-duration: 0.5s;

}

.heng_box_2 .plan_com .c1_list .item .c1_img img:hover{

    -webkit-transform: scale(1.1);

    -moz-transform: scale(1.1);

    -o-transform: scale(1.1);

}

.heng_box_nobg{

    background:none;

}

/***********************************艾灸百科************************************/

.c1_detail{

    padding:35px;

    background:#FFFFFF;

    border:1px solid #DDDDDD;

}

.c1_detail .itemS{

    border-top:1px dashed #D3D3D3;

    padding:15px 0px;

}

.c1_detail .itemS:first-child{

    padding-top:0px;

    border:none;

}

.c1_detail .itemS .icon{

   display:block;

   float:left;

   width:20px;

   height:20px;

   line-height:20px;

   text-align:center;

   color:#ffffff;

   font-size:12px;

   -webkit-border-radius:50px;

   -moz-border-radius:50px;

   -ms-border-radius:50px;

   -o-border-radius:50px;

   border-radius:50px;

}

.c1_detail .itemS .div_question .icon{

  background:#6F5034;

}

.c1_detail .itemS .div_answer .icon{

  background:#F9E469;

}

.c1_detail .itemS .div_question{

  color:#705034;

  font-size:14px;

  padding-bottom:10px;

  min-height:30px;

  overflow-y:auto;

}

.c1_detail .itemS .div_answer{

  color:#626262;

  font-size:12px;

  min-height:30px;

  overflow-y:auto;

}

.c1_detail .itemS .content{

  width:96%;

  float:left;

  padding-left:10px

}

/***********************************企业介绍************************************/

.heng_box_enterprise .plan_com .c1_list .item{

    color:#323232;

    font-size:14px;

    padding:0px;

    margin:0px;

}

.heng_box_enterprise .plan_com .c1_list .item .c1_img{

    padding:10px;

    background:#FEF8D3;

}

.heng_box_enterprise .plan_com .c1_list .item .c1_img img{

    -webkit-transform: scale(1);

    -moz-transform: scale(1);

    -o-transform: scale(1);

    -webkit-transition-duration: 0.5s;

    -moz-transition-duration: 0.5s;

    -o-transition-duration: 0.5s;

}

.heng_box_enterprise .plan_com .c1_list .item .c1_img img:hover{

    -webkit-transform: scale(1.1);

    -moz-transform: scale(1.1);

    -o-transform: scale(1.1);

}

.heng_box_enterprise .plan_com .c1_detail .detailsCont{

    font-size:13px;

    color:#535354;

}

.heng_box_enterprise .plan_com .c1_detail .detailsCont p{

    line-height:25px;

}

.heng_box_enterprise .plan_com .c1_detail .div_map{

    padding:10px;

    border:1px solid #F0F0F0;

}

.heng_box_enterprise .plan_com .c1_detail .div_message{

    font-size:12px;

    color:#535354;

}

.heng_box_enterprise .plan_com .c1_detail .div_message .item_B{

    border-bottom:1px solid #F0F0F0;

}

.heng_box_enterprise .plan_com .c1_detail .div_message input{

    border:none;

    padding:10px 0px;

    padding-left:15px;

}

.heng_box_enterprise .plan_com .c1_detail .div_message .btnSubmit{

     display:inline-block;

     width:120px;

     height:40px;

     line-height:40px;

     text-align:center;

     color:#FFFFFF;

     background:#6F5034;

     margin-top:30px;

}

.heng_box_enterprise .plan_com .c1_detail .div_message .btnSubmit:hover{

     opacity:0.8;

}

.heng_box_enterprise .plan_com .c1_detail .div_title{

    background:none;

}

.heng_box_enterprise .plan_com .c1_list .item_A .c1_img{

    background:none;

}

/***********************************品牌店面************************************/

.c1_detail .heng_box .plan_com{

    max-width:892px;

}

.c1_detail .heng_box .plan_com .container{

    max-width:892px;

}

/***********************************效果实例************************************/

.heng_box_demo .plan_com .c1_detail .item_C{

    background:none;

    color:#705034;

    min-height:80px;

    overflow-y:auto;

    padding: 25px 0px;

    border-top:1px dashed #DADADA;

}

.heng_box_demo .plan_com .c1_detail .item_C:first-child{

    border:none;

    padding-top:0px;

}

.heng_box_demo .plan_com .c1_detail .item_C .c1_titleText{

    border:0px;

    margin-bottom:0px;

    font-weight:800;

}

.heng_box_demo .plan_com .c1_detail .item_C .c1_desc{

    height:auto;

    color:#626262;

    font-size:12px;

}

.heng_box_demo .plan_com .c1_detail .item_C .c1_img{

    padding-top: 4px;

}

.heng_box_demo .plan_com .c1_detail .item_C .c1_img img{

    display:inline-block;

    width:80px;

    height:80px;

    -webkit-border-radius: 50%;

    -moz-border-radius: 50%;

    -o-border-radius: 50%;

    -ms-border-radius: 50%;

}

/***********************************资讯中心************************************/

.heng_box_news .newslist{

    width:100%;

}

.heng_box_news .newslist li {

    border-bottom: 1px dashed #D3D3D3;

    padding: 15px 0px;

    min-height: 50px;

    overflow-y: auto;

    display:block;

    width:100%;

}

.heng_box_news .newslist li a{

    min-height: 50px;

    overflow-y: auto;

    display:block;

    width:100%;

}

.heng_box_news .newslist li .ri {

    display:inline-block;

    width: 10%;

    float: left;

    font-family: "微软雅黑";

    max-width: 80px;

    color: #FFFFFF;

    font-weight: normal;

    text-align: center;

    background:#6F5034;

    -webkit-border-radius:5px;

    -moz-border-radius:5px;

    -ms-border-radius:5px;

    -o-border-radius:5px;

    border-radius:5px;

}

.heng_box_news .newslist li:hover{

    opacity:0.8;

}

.heng_box_news .newslist li .ri i {

    font-style: normal;

    font-size: 25px;

    height: 40px;

    line-height: 40px;

    width: 98%;

    margin: auto;

    margin-bottom: auto;

    display: block;

    overflow: hidden;

    margin-bottom: 0px;

}

.heng_box_news .newslist .ri time {

    font-size: 14px;

    width: 98%;

    margin: auto;

    display: block;

    height: 20px;

    line-height: 20px;

    overflow: hidden;

    color: #FFFFFF;

    margin-bottom:8px;

}

.heng_box_news .newslist .wen_nei {

    width: 90%;

    float: right;

}

.heng_box_news .newslist .wen_nei h4 {

    font-size: 14px;

    line-height: 24px;

    height: 24px;

    color: #6F5034;

    margin-top: 0px;

    margin-bottom: 0px;

    overflow: hidden;

    width: 100%;

    font-weight: normal;

}

.heng_box_news .newslist .wen_nei p {

    color: #A7A7A7;

    font-size: 12px;

    height: 40px;

    line-height: 20px;

    overflow: hidden;

}

.heng_box_news .c1_detail .h4 {

    text-align: center;

    padding-top: 0px;

    margin-top: 0px;

    font-weight:normal;

    line-height: 25px;

    font-size:18px;

    color:#313131;

    padding-bottom:30px;

    border-bottom:1px dashed #D2D2D2; 

}

.heng_box_news .c1_detail .time {

    text-align: center;

    padding-top: 5px;

    padding-bottom: 30px;

    color: #535354;

    font-size:12px;

}

.heng_box_news .c1_detail .detailsCont{

    padding-bottom:20px;

    color:#535354;

}

.heng_box_news .c1_detail .detailsCont p {

    line-height: 30px;

}

.heng_box_news .c1_detail .detailsCont img {

    max-width: 100%;

}

.heng_box_news .c1_detail .c1_brand{

    padding-top:15px;

    border-top:1px dashed #D2D2D2; 

}

.heng_box_news .c1_detail .c1_brand .clitem{

    color:#535354;

    font-size:12px;

    padding-bottom:10px;

}

.heng_box_news .c1_detail .c1_brand .clitem a{

    color:#535354;

}

.heng_box_news .c1_detail .c1_brand .clitem a:hover{

    color:#000000;

    text-decoration:underline;

}

/**************************************云朵标题***********************************/

.div_title{

    color:#704D33;

    letter-spacing:1px;

    margin-bottom:35px;

    background:url('../images/titleBg_01.png') center no-repeat;

}

.div_title .en{

    font-size:10px;

}

/**************************************菜单标题***********************************/

.plan_com_con{

    width:100%;

    background:#6F5034;

}

.plan_com_con .plan_com{

    max-width:1000px;

}

.plan_com_con .txt_tab div a{

    display:block;

    padding:15px 0px;

    color:#FFF6C9;

    font-size:14px;

    text-align:center;

    border-bottom:2px solid #6F5034;

}

.plan_com_con .txt_tab div a:hover,.txt_tab div a.cur{

   border-color:#FFF6C9;

}

.plan_com_con .txt_tab.txt_tab_num1{

    max-width:120px;

    margin:0 auto;

}

.plan_com_con .txt_tab.txt_tab_num3{

    max-width:360px;

    margin:0 auto;

}

.plan_com_con .txt_tab.txt_tab_num4{

    max-width:480px;

    margin:0 auto;

}

/**************************************图片滚动***********************************/

.Box {position: relative;}

.Box .content {max-width: 880px;margin: 0 auto;}

.Box h2 {text-align: center;margin-bottom: 35px;padding-top: 250px;}

.Box .Box_con {position: relative;}

.Box .Box_con .btnl {position: absolute;}

.Box .Box_con .btnt {display: block;width: 40px;height: 76px;position: absolute;top: 110px;cursor: pointer;}

.Box .Box_con .btnl {background:url("../images/j_left_big.png") no-repeat center;left: -60px;background-position: 0 0;}

.Box .Box_con .btnr {background:url("../images/j_right_big.png") no-repeat center;right: -60px;background-position: 0 0;}

.Box .Box_con .btnl:hover {opacity:0.8;}

.Box .Box_con .btnr:hover {opacity:0.8;}

.Box .Box_con .conbox {position: relative;overflow: hidden;}

.Box .Box_con .conbox ul {position: relative;left:0;width:1245px; list-style: none;}

.Box .Box_con .conbox ul li {float: left;width: 216px;height: 300px;margin-left: 5px;overflow: hidden;}

.Box .Box_con .conbox ul li:first-child {margin-left: 0;}

.Box .Box_con .conbox ul li img {display: block;width: 250px;height: 355px;}

.Box .Box_con .conbox ul li .item{text-align:left; background:#714D33;padding:10px;margin:0px; -webkit-border-radius:5px;-moz-border-radius:5px;-o-border-radius:5px;-ms-border-radius:5px;color:#FBE9A9;font-size:12px;}

.Box .Box_con .conbox ul li .item .c1_titleText{font-size:14px;text-align:left; border-bottom:1px solid #FBE9A9;padding: 0px 0px 5px 0px; margin-bottom:20px;}

.Box .Box_con .conbox ul li .item .c1_titleText.center{text-align:center; }

.Box .Box_con .conbox ul li .item .c1_desc{height:52px;overflow:hidden;}

.Box .Box_con .conbox ul li .item .c1_img{overflow:hidden; margin-bottom:15px;text-align:center;}

.Box .Box_con .conbox ul li .item .c1_img img{transition:initial;width:120px;height:120px;-webkit-border-radius:50%;-moz-border-radius:50%;-o-border-radius:50%;-ms-border-radius:50%;}

.Box .Box_con .conbox ul li .item .c1_img img:hover{transform:initial;}

.Box .Box_con .conbox ul li .item .c1_btn{padding:10px 0px;text-align:center;}

.Box .Box_con .conbox ul li .item .c1_btn a{color:#FBE9A9;background:none; border:1px solid #FBE9A9;-webkit-border-radius:50px;-moz-border-radius:50px;-o-border-radius:50px;-ms-border-radius:50px;}

.Box .Box_con .conbox ul li .item .c1_btn a:hover{background:none;color:#FBE9A9;opacity:0.8;}

.Box .BoxSwitch {margin-top: 10px;text-align: center;}

.Box .BoxSwitch span {display: inline-block;*display: inline;*zoom: 1;vertical-align: middle;width: 30px;height: 3px;background: #ccc;margin: 0 5px;cursor: pointer;}

.Box .BoxSwitch span.cur {background: #704d33;}

.Box .Box_con_3 .btnt {display: block;width: 30px;height: 45px;position: absolute;top: 60px;cursor: pointer;}

.Box .Box_con_3 .btnl {background:url("../images/j_left_middle.png") no-repeat center;left: -35px;background-position: 0 0;}

.Box .Box_con_3 .btnr {background:url("../images/j_right_middle.png") no-repeat center;right: -35px;background-position: 0 0;}

.Box .Box_con_3 .conbox ul {position: relative;left:0;list-style: none;}

.Box .Box_con_3 .conbox ul li{width: 216px;height: 156px;margin-left: 4px;}

.Box .Box_con_3 .conbox ul li img{width: 216px;height: 156px;}



/****客户评价*****/

.banner_re {min-height:150px; margin:0 auto;overflow:hidden;position:relative;}

.banner_re ul { position:absolute; left:5%; top:0;width:90%;}

.banner_re ul li { display:block;width:100%;min-height:150px;z-index:100;}

.banner_re ul li .item_re .c1_img img {display: block;z-index: 100;width:90px;height:90px;border-radius:100%; margin-top:5px;}

.banner_re ul li .item_re .c1_titleText {overflow: hidden;font-size: 14px;text-align: left;color:#704D33;font-weight:bold; padding: 0px 0px 5px 0px;}

.banner_re ul li .item_re .c1_desc {overflow: hidden;color:#704D33;}

.banner_re .u { display: block;width: 13px;height: 29px;cursor: pointer;}

.banner_re .u:hover{opacity:0.8;}

.banner_re .left { position:absolute; top:25%;left:2%;z-index:103;background:url("../images/j_left_small.png") no-repeat center;}

.banner_re .right { position:absolute; top:25%;right:2%;z-index:103;background:url("../images/j_right_small.png") no-repeat center;}

.hover_con { text-align:center; padding-top:15px;}

.hover_con a { display:inline-block; margin-right:8px; width:10px; height:10px; border-radius:100%; background:#FFFADB;border:1px solid #704D33; z-index:101;}

.hover_con a.active { background:#704D33;}





/***********************************分页************************************/

.pager {

	margin-bottom: 0px;

    text-align: center;

    color: #333333;

}

.pager .mobile{

    display:none;

}

.pager a, .pager span {

	display: inline-block;

	line-height: 28px;

	padding: 0 10px;
    margin-right: 5px;

    -webkit-border-radius:2px;

    -moz-border-radius:25px;

    -ms-border-radius:2px;

    -o-border-radius:2px;

	border-radius: 2px;

	font-family: Arial, Helvetica, sans-serif !important;

}

.pager a {

	color: #6F5034;

	background: #F9F9F9;

    text-decoration: none;

	border: solid 1px #6F5034;

}

.pager a:hover {

	color: #fff;

	border-color: #6F5034;

	background: #6F5034;

}

.pager a.last {

	margin-right: 0px;

}

.pager .current {

    color: #fff;

	background: #6F5034;

	cursor: default;

	border: solid 1px #6F5034;

}

.pager .current.prev, .pager .current.next {

	color: #B9B9B9;

	border-color: #D3D3D3;

	background: #fff;

}

.pager .current.prev, .pager .current.next {

	color: #B9B9B9;

	border-color: #D3D3D3;

	background: #fff;

}





/***********************************footer************************************/

.footer {

    width: 100%;

    background:url('../images/footer_bg.png') no-repeat;

    background-size: 100% 100%;

    background-position: center;
    height: 150px;

    text-align:center;

    color:#FAF0AB;

    font-size:12px;

}

.footer_com {

    max-width: 1000px;

    width: 100%;

    margin: auto;

    padding:20px 0px;

    text-align:center;

}

.footer_com .pub_list_bd .p{

    display:inline-block;

}

.footer_com a,.footer_com span{

    color:#FAF0AB;

    padding:5px 10px;

    background:none;

    background-color:none;

}

.footer_com a:hover{

    color:#F3DC3A;

}

/***********************************底部导航************************************/

#tool {

	height: 52px;

	display: none;

}



#tool .toollist {

	position: fixed;

	z-index: 9999;

	bottom: 0;

	left: 0;

	right: 0;

	margin: auto;

	display: block;

	height: 52px;

	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

}



.toollist li {

	float: left;

	width: auto;

	height: 100%;

	width: 25%;

	position: static!important;

	margin: 0;

	border-radius: 0!important;

	-webkit-box-sizing: border-box;

	box-sizing: border-box;

	-webkit-box-flex: 1;

	box-flex: 1;

	-webkit-box-sizing: border-box;

	box-shadow: none!important;

	background: none;

}



.toollist li a {

	font-size: 20px;

	line-height: 20px;

	text-align: center;

	display: block;

	text-decoration: none;

	padding-top: 6px;

	position: relative;

}



.toollist li a img {

	width: 24px;

	height: 24px;

}



.toollist li a p {

	margin: 1px 0 1px 0;

	font-size: 14px;

	display: block !important;

	line-height: 18px;

	text-align: center;

}



.toollist_gray {

	background: #705034;

}



.toollist_gray li {

	border-right: 1px solid #A88A68;

}



.toollist_gray li a {

	color: #fff;

}